<% content_for :title, 'Android Job Listings near Boston' %>

<% content_for :h1, 'Android Jobs near Boston' %>

<% content_for :header do %>
  <p><%= link_to 'Advertise', new_job_path %></p>
<% end %>

<ul class="clearfix">
  <%= render :partial => 'job', :collection => @jobs %>
</ul>