<% content_for :title, 'Android Job Listings near Boston' %>

<% content_for :header do %>
  <p><%= link_to 'Post a new job', new_job_path %></p>
<% end %>

<ul id="job-list" class="clearfix">
  <%= render :partial => 'job', :collection => @jobs %>
</ul>

