/* Global Reset
------------------------------------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, button,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* remember to define focus styles! */
:focus {
  outline: 0; }

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Clear Floated Elements
------------------------------------------------------------------------------*/
/* http://sonspring.com/journal/clearing-floats */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

/* http://perishablepress.com/press/2008/02/05/lessons-learned-concerning-the-clearfix-css-hack */
#external-links:after,
.clearfix:after,
ul#nav:after,
#job-post ul#contact-methods:after, #job-post
ul#contact-methods:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0; }

#external-links,
.clearfix,
ul#nav,
#job-post ul#contact-methods, #job-post
ul#contact-methods {
  display: inline-block; }

* html #external-links,
* html .clearfix,
* html ul#nav,
* html #job-post ul#contact-methods, #job-post
* html ul#contact-methods {
  height: 1%; }

#external-links,
.clearfix,
ul#nav,
#job-post ul#contact-methods, #job-post
ul#contact-methods {
  display: block; }

/*
  Website design based on bostonandroid.org site, built by Chad Mazzola (http://hellohappy.org) in September 2010.
  Inspiration from Jan Tschichold (1928) and Peter Saville (1978)
*/
@font-face {
  font-family: 'ProcionoRegular';
  src: url("/fonts/prociono-regular-webfont.eot");
  src: local("â˜º"), url("/fonts/prociono-regular-webfont.woff") format("woff"), url("/fonts/prociono-regular-webfont.ttf") format("truetype"), url("/fonts/prociono-regular-webfont.svg#webfontvadfXUI4") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  background: #fdd825;
  color: #222;
  font-family: ProcionoRegular, georgia, palatino, times new roman, serif;
  text-rendering: optimizeLegibility; }

a {
  color: #222;
  text-decoration: none; }

p a {
  border-bottom: 1px solid #222;
  padding: 0 0 1px 0; }

a:hover {
  border-bottom: 2px solid #222; }

#container {
  margin: 42px 50px 154px 250px;
  width: 600px; }

h1, h2, h3, h4, h5 {
  font-weight: normal; }

h1 {
  background: url("/images/logo.png") 2px 0 no-repeat;
  font-size: 24px;
  line-height: 21px;
  margin: 0 0 0 -90px;
  padding: 14px 0 40px 90px; }

ul#nav {
  font-size: 16px;
  line-height: 28px;
  margin: -32px 0 42px 0;
  text-align: left; }
  ul#nav li {
    float: left;
    margin: 0 6px 0 0; }
    ul#nav li:after {
      content: "/";
      margin: 0 0 0 8px; }
    ul#nav li:last-child:after {
      content: ""; }
    ul#nav li a {
      border-bottom: 1px solid #222;
      padding: 0 0 1px 0; }
      ul#nav li a:hover {
        border-bottom: 2px solid #222; }

h2 {
  font-size: 24px;
  line-height: 28px; }

p {
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 14px; }

ul#job-list {
  font-size: 16px;
  line-height: 28px;
  margin: 46px 0 88px 0; }
  ul#job-list li {
    margin: 0 0 -4px 0; }
    ul#job-list li h2 {
      display: inline;
      margin: 0 0 4px 0; }
      ul#job-list li h2:hover {
        border-bottom: 2px solid #222; }
    ul#job-list li h3 {
      font-size: 14px; }
    ul#job-list li h4 {
      font-size: 14px;
      left: -130px;
      position: relative;
      text-align: right;
      top: 33px;
      width: 120px; }

#job-post {
  margin: 46px 0 84px 0; }
  #job-post h2 {
    margin: 0 0 4px 0; }
  #job-post ul#contact-methods {
    font-size: 16px;
    line-height: 28px;
    margin: 28px 0 42px 0;
    text-align: left; }
    #job-post ul#contact-methods li {
      float: left;
      margin: 0 6px 0 0; }
      #job-post ul#contact-methods li:after {
        content: "/";
        margin: 0 0 0 8px; }
      #job-post ul#contact-methods li:last-child:after {
        content: ""; }
      #job-post ul#contact-methods li a {
        border-bottom: 1px solid #222;
        padding: 0 0 1px 0; }
        #job-post ul#contact-methods li a:hover {
          border-bottom: 2px solid #222; }

#new-job {
  margin: 46px 0 84px 0; }
  #new-job h2 {
    margin: 0 0 24px 0; }

/* forms */
/*****************************************************************************/
fieldset {
  border: 0px; }
  fieldset.buttons {
    margin: 20px 0 0 0; }
  fieldset ol {
    list-style-type: none; }
    fieldset ol li {
      margin: 0 0 12px 0; }
      fieldset ol li input[type="text"],
      fieldset ol li textarea {
        padding: 5px 0 4px 0;
        font-family: monaco, monospace;
        font-size: 16px;
        width: 100%; }
      fieldset ol li textarea {
        height: 248px;
        margin: 2px 0 0 0; }
      fieldset ol li p.inline-errors {
        color: #f00; }
    fieldset ol li.date ol label {
      display: none;
      font-weight: normal; }
    fieldset ol li.date ol li {
      display: inline;
      margin: 0 0 12px 0; }
  fieldset label,
  fieldset legend.label {
    display: block;
    font-size: 16px;
    padding: 0 0 4px 0; }
  fieldset li.required label {
    font-weight: normal; }
    fieldset li.required label abbr {
      display: none; }

div#flash {
  background: #222; }
  div#flash div#flash_notice {
    color: #fdd825;
    font-size: 18px;
    padding: 8px; }

/* button
*******************************************************************************/
input[type="submit"]::-moz-focus-inner {
  border: 0; }

input[type="submit"] {
  background: #222;
  background: -moz-linear-gradient(0% 100% 90deg, #222222, #444444);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#444444), to(#222222));
  border: 1px solid #555;
  border-width: 1px 1px 0 1px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  box-shadow: inset 0 1px 0 0 #666;
  -moz-box-shadow: inset 0 1px 0 0 #666;
  -webkit-box-shadow: inset 0 1px 0 0 #666;
  color: #fff;
  font-family: ProcionoRegular, georgia, palatino, times new roman, serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 1;
  padding: 7px 0 8px 0;
  text-align: center;
  width: 150px; }

input[type="submit"]:hover {
  background: #333;
  background: -moz-linear-gradient(0% 100% 90deg, #333333, #555555);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#555555), to(#333333));
  cursor: pointer; }

input[type="submit"]:active {
  background: #000;
  background: -moz-linear-gradient(0% 100% 90deg, black, #222222);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#222222), to(black));
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  border-width: 0 1px 1px 1px;
  padding: 8px 0 7px 0; }
